{block content}
<section>
	<div class="container">
		<div class="row text-center">
			<h1 n:block=title>Not found</h1>
			<p>
				The page you requested could not be found. It is possible that the address is
				incorrect, or that the page no longer exists.
			</p>
			<p>
				error 404
			</p>
		</div>
	</div>
</section>
{/block}
