{block content}
<section>
	<div class="container">
		<div class="row text-center">
			<h1 n:block=title>Method Not Allowed</h1>
			<p>
				The requested method is not allowed for the URL.
			</p>
			<p>
				error 405
			</p>
		</div>
	</div>
</section>
{/block}
