{block content}
<section>
	<div class="container">
		<div class="row text-center">
			<h1>Administrace - editace programu</h1>
			
			<a n:href="default" class="btn btn-primary btn-sm">
				<span class="glyphicon glyphicon-circle-arrow-left"></span>
				Zpět do administrace
			</a>
		</div>
		
		{include 'editForm.latte'}
	</div>
</section>
{/block}