body {
  overflow-x: hidden;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777;
}
.text-primary {
  color: #f7f7f7;
}
p {
  font-size: 14px;
  line-height: 1.75;
  padding-top: 5px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #f7f7f7;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #d1d1d1;
}
a.link-underline-none {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 2.0;
}
.table thead > tr > th {
  vertical-align: middle;
  color: #f7f7f7;
  background-color: #222;
}
.table tbody > tr > th {
  vertical-align: middle;
  background-color: #f7f7f7;
}
.table tbody > tr > td {
  vertical-align: middle;
}
form > label.required,
.input-required {
  color: maroon;
}
form > label.required:after,
.input-required:after {
  content: " *";
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222;
}
.row {
  margin-bottom: 20px;
}
.alert {
  margin-bottom: 0;
}
section {
  padding-top: 20px;
}
.btn-primary {
  color: white;
  background-color: #222;
  border-color: #222;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #080808;
  border-color: #030303;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #222;
  border-color: #222;
}
.btn-primary .badge {
  color: #222;
  background-color: white;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.navbar-default {
  background-color: #222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #f7f7f7;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #dedede;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #222;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f7f7f7;
}
.navbar-default .nav li a {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f7f7f7;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #f7f7f7;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #f7f7f7;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #dedede;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: #222;
    padding: 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 1.3em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
::-moz-selection {
  text-shadow: none;
  background: #f7f7f7;
}
::selection {
  text-shadow: none;
  background: #f7f7f7;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #f7f7f7;
}
